<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Icons font CSS
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all"> -->
    <!-- Font special for pages-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->

    <!-- Vendor CSS
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all"> -->

    <!-- Main CSS-->
    <!-- <link href="/css/main.css" rel="stylesheet" media="all"> -->
</head>
<body>
<div>
    <div
      style="width: 549px; height: 609px; position: absolute; left: 348.5px; top: 102.5px; border-radius: 2px; background: rgba(0,0,0,0.5); border-width: 3px; border-color: #fff;"
    ></div>
    <div style="width: 465px; height: 55px;">
      <p
        style="width: 465px; height: 18px; position: absolute; left: 407px; top: 583px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        Correo electrónico
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 600.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <div style="width: 436px; height: 55px;">
      <p
        style="width: 263.27px; height: 18.1px; position: absolute; left: 407px; top: 513px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        Teléfono
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 530.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <div style="width: 436px; height: 55px;">
      <p
        style="width: 263.27px; height: 18.1px; position: absolute; left: 407px; top: 443px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        Dirección
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 460.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <div style="width: 436px; height: 55px;">
      <p
        style="width: 263.27px; height: 18.1px; position: absolute; left: 407px; top: 368px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        RUT
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 385.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <div style="width: 436px; height: 55px;">
      <p
        style="width: 263.27px; height: 18.1px; position: absolute; left: 407px; top: 293px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        Apellidos
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 310.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <div style="width: 436px; height: 55px;">
      <p
        style="width: 263.27px; height: 18.1px; position: absolute; left: 407px; top: 217px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        Nombres
      </p>
      <div
        style="width: 436px; height: 37px; position: absolute; left: 406.5px; top: 234.5px; border-radius: 3px; background: #fff; border-width: 1px; border-color: #9c9c9c;"
      ></div>
    </div>
    <p
      style="width: 436px; height: 18px; position: absolute; left: 407px; top: 179px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
    >
      PLAN REENTRENAMIENTO 4 CLASES - $55.000
    </p>
    <p
      style="width: 460px; height: 39px; position: absolute; left: 407px; top: 118px; font-size: 40px; font-weight: 700; text-align: left; color: #fff;"
    >
      FORMULARIO DE PAGO
    </p>
    <div style="width: 108px; height: 49px;">
      <div
        style="width: 108px; height: 49px; position: absolute; left: 711.5px; top: 651.5px; border-radius: 2px; background: transparent; border-width: 3px; border-color: #fff;"
      ></div>
      <p
        style="width: 108px; height: 49px; position: absolute; left: 713px; top: 653px; font-size: 14px; font-weight: 700; text-align: center; color: #fff;"
      >
        ENVIAR
      </p>
    </div>
    <div style="width: 108px; height: 49px;">
      <svg
        width="108"
        height="49"
        viewBox="0 0 108 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; left: 429px; top: 651px;"
        preserveAspectRatio="none"
      >
        <path d="M2 2H106V47H2L2 2Z" stroke="white" stroke-width="4"></path>
      </svg>
      <p
        style="width: 49.88px; height: 22.27px; position: absolute; left: 460.6px; top: 666.36px; font-size: 16px; font-weight: 700; text-align: center; color: #fff;"
      >
        Atras
      </p>
    </div>
  </div>
</body>