<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="formulario">
    <div id="fondoFormulario"></div>
    <div id="cuerpoFormulario">
      
      <p id="tituloPrincipalFormulario">FORMULARIO DE PAGO</p>
      <p class="titulosFormulario">NOMBRE DEL PLAN - PRECIO DEL PLAN</p>
      <!-- <p>{{nombrePlan}} - {{precioPlan}}</p> -->
      <form>
        <p class="titulosFormulario">Nombres</p>
        <input type="text" id="inputNombres" class="inputsFormulario">
        <p class="titulosFormulario">Apellidos</p>
        <input type="text" id="inputApellidos" class="inputsFormulario">
        <p class="titulosFormulario">RUT</p>
        <input type="text" id="inputRut" class="inputsFormulario">
        <p class="titulosFormulario">Dirección</p>
        <input type="text" id="inputDireccion" class="inputsFormulario">
        <p class="titulosFormulario">Teléfono</p>
        <input type="text" id="inputTelefono" class="inputsFormulario">
        <p class="titulosFormulario">Correo electrónico</p>
        <input type="text" id="inputEmail" class="inputsFormulario">
        <br>
        <div class="botonesFormulario">
          <button class="btn">Atrás</button>
          <button class="btn" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</body>