
<html>

<div id="header_background">
	<div class="header_text">
		<p>Sede Chillán</p>
		<p>Constitución #972, Chillán</p>
		<p>Telefono +56 2 2458 3004</p>
		<p>Celular 9 44826147</p>
	</div>

</div>

<div id="formulario_background">

	<div class="head_form">
		<p>Conversemos</p>
	</div>
	<div role="form" class="wpcf7">
		<form action="/contacto/#wpcf7-f18490-p4929-o1" method="post" class="wpcf7-form" novalidate="novalidate">
			<div class="formulario_text">
			<p>
				<label> Nombre Completo<br>
				<span class="wpcf7-form-control-wrap nombre"><input type="text" name="nombre" value="" size="70" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label><br>
				<label> Email<br>
				<span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="70" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </label><br>
				<label> Teléfono<br>
				<span class="wpcf7-form-control-wrap telefono"><input type="text" name="telefono" value="" size="70" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label><br>
				<label> Comentario<br>
				<span class="wpcf7-form-control-wrap Comentario"><textarea name="Comentario" cols="70" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span></label>
			</p>
			</div>
				<button class="button" style="vertical-align:middle"><span>Enviar </span></button>
		</form>
	</div>

	<div class="form_text">
		<div class="wpb_wrapper">
			<h2 class="headline font-special fontsize-l fontweight-700 lh-inherit align-left transform-uppercase " style="margin: 10px 0 20px 0; color: #ffffff; font-size: 200%; font-weight: 600; text-transform: uppercase;letter-spacing: 1.5pt;" >Necesitas Ayuda?</h2>
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p><span style="color: #ffffff;">Si tienes alguna duda o consulta, no dudes en escribirnos directamente a <br><a style="color: #ffffff;" href="mailto:info@didaktikaconductores.cl">info@didaktikaconductores.cl</a>&nbsp;o llámanos a los siguientes teléfonos de contacto.</span></p>
				</div>
			</div>
			<h2 class="headline font-special fontsize-l fontweight-700 lh-inherit align-left transform-uppercase " style="margin: 40px 0 20px 0; color: #ffffff; font-size: 200%; font-weight: 600; text-transform: uppercase;letter-spacing: 1.5pt;">Sede Chillán</h2>
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p><i class="fa fa-phone"></i><span style="color: #ffffff;">&nbsp;Teléfono :+56 22 458 3004</span><br>
					<span style="color: #ffffff;">Dirección:&nbsp; Constitución 1128, Chillán.&nbsp;&nbsp;<i class="fa fa-location-arrow"></i><a style="color: #ffffff;" href="https://goo.gl/maps/4WpkbJ6Y7aC2">Llegar con Maps –&nbsp;</a><a style="color: #ffffff;" href="https://www.waze.com/ul?ll=-36.60954560%2C-72.09462840&amp;navigate=yes">Llegar con Waze</a></span></p>
				</div>
			</div>
			<h2 class="headline font-special fontsize-l fontweight-700 lh-inherit align-left transform-uppercase " style="margin: 40px 0 20px 0; color: #ffffff; font-size: 200%; font-weight: 600; text-transform: uppercase; letter-spacing: 1.5pt;">Horarios de Atención</h2>
			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<ul>
						<li><span style="color: #ffffff;">Lunes a Viernes de 08:00 a 21:00 horas</span></li>
						<li><span style="color: #ffffff;">Sábados de 08:00 a 14:00 horas</span></li>
					</ul>

				</div>
			</div>
			<h2 class="headline font-special fontsize-l fontweight-700 lh-inherit align-left transform-uppercase " style="margin: 40px 0 20px 0; color: #ffffff; font-size: 200%; font-weight: 600; text-transform: uppercase; ">WhatsApp</h2><div class="headline font-special fontsize-xxxxl fontweight-700 lh-inherit align-left transform-uppercase " style="margin: 40px 0 20px 0; color: #ffffff; font-size: 400%; font-weight: 700;">+56 9 44826147</div>
		</div>
	</div>
	<div class="section-triangle">
		<div class="section-triangle-color" style="border-color:  transparent transparent transparent;"></div>
	</div>

</div>

</html>
