<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right:0;">
      <div class="bannerVerde">
      </div>
      <div class="miCuenta">
        Mi cuenta
      </div>
      <div class="row"
        style="background-color: #eff0ef; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; margin: auto;  ">
        <div class="col-4" style="margin-left: auto; margin-right: auto;">
          <img
            src="..\assets\icon.png"
            alt="" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;"> <br>
          <p style="text-align:center; font-size: 140%;"> Dominique Del Valle</p>
        </div>
        <div class="col-8" style="padding: 0%;">
          <div class="botonesMicuenta" style="padding-bottom: 20px; padding-left: 3%;">
            <button class="btn botones" style="font-weight: 700; color: #176496;" > Ver Datos </button>
            <button class="btn botones"> Ver Agenda </button>
            <button class="btn botones"> Pagos y Matrículas </button>
            <button class="btn botones"> Solicitudes </button>
          </div>

          <div class="recordatorio" style="padding: 40px; padding-top: 70px; border-radius: 20px;">
            <button type="button" class="btn boton-datos" >
              <a href="/datos-estudiantes">Ver Datos de Estudiantes</a>
            </button>
            <button type="button" class="btn boton-datos">
              <a href="/datos-instructores">Ver Datos de Instructores</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
