<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right:0;">
      <div class="bannerVerde">
      </div>
      <div class="miCuenta">
        Mi cuenta
      </div>
      <div class="row"
        style="background-color: #eff0ef; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; margin: auto;  ">
        <div class="col-4" style="margin-left: auto; margin-right: auto;">
          <img
            src="..\assets\icon.png"
            alt="" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;"> <br>
          <p style="text-align:center; font-size: 140%;"> Juan Muñoz</p>
        </div>
        <div class="col-8" style="padding: 0%;">
          <div class="botonesMicuenta" style="padding-bottom: 20px; padding-left: 3%;">
            <button class="btn botones">
              <a href="/perfil-instructor">Mis Datos</a>
            </button>
            <button class="btn botones">
              <a href="/datos-estudiantes">Ver Datos de Estudiantes</a>
            </button>
            <button class="btn botones">
              <a href="/agenda">Ver Agenda</a>
            </button>
          </div>

          <div class="recordatorio" style="padding: 40px; border-radius: 20px;">
            <h2 class="header-recordatorio" style="font-size: 130%;  font-weight: 700; letter-spacing: 1.5pt;">
              Recordatorio:</h2> <br>

              <p style="font-weight: 400; font-size: larger;">           Revisar clases canceladas o reagendadas por estudiantes
                para estar al tanto del horario de clases del día de hoy.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
