<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Instructores">Perfil Alumno</div>
      <div
        class="row"
        style="
          background-color: #d8d4d4;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          padding-left: 40px;
          margin: auto;
        "
      >
        <div class="title">Información Personal</div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large;" >Nombres: </td>
                <td class="middle">{{usuario[0].nombres}}</td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large;">Apellidos: </td>
                <td class="middle">{{usuario[0].primerApellido}} {{usuario[0].segundoApellido}}</td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large;">Dirección de correo electrónico: </td>
                <td class="middle">{{usuario[0].email}}</td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large;">Contraseña: </td>
                <td class="middle">{{usuario[0].contrasena}}</td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large; font-size: large;">Sexo: </td>
                <td class="middle">{{usuario[0].telefono}}</td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size: large;">Instructor Asignado: </td>
                <td class="middle">{{usuario[0].instructorAsignadoId}}</td>
                <td class="middle"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div style="margin-top: 30px; padding-left: 250px">

          <button style=" color: white;
          border-radius: 5px;
          background-color: #176496;
          padding: 10px;
          margin-right: 120px;
          font-size: large;
          padding-left: 35px;
          padding-right: 35px;"
           (click)="abrirModal()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-editar-persona></app-modal-editar-persona>