<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Instructores">Perfil Alumno</div>
      <div
        class="row"
        style="
          background-color: #d8d4d4;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          padding-left: 40px;
          margin: auto;
        "
      >
        <div class="title">Información Personal</div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 350px">Nombre:</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td style="width: 350px">Apellido:</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td style="width: 350px">Dirección de correo electrónico</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td style="width: 350px">Contraseña:</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td style="width: 350px">Sexo:</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td style="width: 350px">Instructor Asignado:</td>
                <td class="middle"></td>
                <td class="middle"></td>
                <td href="#" style="color: #176496; cursor: pointer">Editar</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div style="margin-top: 30px; padding-left: 250px">
          <button
            style="
              color: white;

              border-radius: 5px;
              background-color: #176496;
              padding: 10px;
              margin-right: 120px;
              font-size: large;
              padding-left: 35px;
              padding-right: 35px;
            "
          >
            Guardar
          </button>
          <button
            style="
              color: white;
              border-radius: 5px;
              background-color: #176496;
              padding: 10px;
              margin-right: 120px;
              font-size: large;
            "
          >
            Generar Reporte
          </button>
          <button
            style="
              color: white;
              border-radius: 5px;
              background-color: #176496;
              padding: 10px;
              margin-right: 120px;
              font-size: large;
              padding-left: 35px;
              padding-right: 35px;
            "
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
