<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right:0;">
      <div class="bannerVerde">
      </div>
      <div class="miCuenta">
        Mi cuenta
      </div>
      <div class="row"
        style="background-color: #eff0ef; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; margin: auto;  ">
        <div class="col-4" style="margin-left: auto; margin-right: auto;">
          <img
            src="..\assets\icon.png"
            alt="" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;"> <br>
          <p style="text-align:center; font-size: 140%;"> </p> <!-- AQUI VA EL NOMBRE -->
        </div>
        <div class="col-8" style="padding: 0%;">
          <div class="botonesMicuenta" style="padding-bottom: 20px; padding-left: 3%;">
            <button class="btn botones">
              <a href="/ver-datos">Ver Datos</a>
            </button>
            <button class="btn botones">
              <a href="/agenda">Ver Agenda</a>
            </button>
            <button class="btn botones">
              <a href="/matriculas">Pagos y Matrículas</a>
            </button>
            <button class="btn botones">
              <a href="/solicitudes">Solicitudes</a>
            </button>
          </div>

          <div class="recordatorio" style="padding: 40px; border-radius: 20px;">
            <!-- <h2 class="header-recordatorio" style="font-size: 130%;  font-weight: 700; letter-spacing: 1.5pt;">
              Recordatorio: </h2>

            Revisar solicitudes pendientes de reagendización de clases y de cancelación de clases.
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
