

<div class="fondo">
  <div class="big-container">
  <div class="container" style="padding-left: 0; padding-right:0;">
    <div class="bannerVerde">
    </div>
    <div class="miCuenta">
      Mi cuenta
       </div>
   <div class="row" style="background-color: #eff0ef; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; margin: auto;  ">
     <div class="col-4" style="padding-left: 8%;">
  <img src="https://cdn.discordapp.com/attachments/187298871423008770/982093698567401473/585e4bf3cb11b227491c339a.png" alt="" style="width: 125px; height: 125px"> <br>
  <p> Dominique Del Valle</p>

     </div>
     <div class="col-8" style="padding: 0%;">
      <div class="botonesMicuenta" style="padding-bottom: 20px; padding-left: 20%;">
        <button class="botones"> Ver Datos </button>
        <button class="botones"> Ver Agenda </button>
        <button class="botones"> Pagos y Matrículas </button>
        <button class="botones"> Solicitudes </button>
      </div>

  <div class="recordatorio" style="padding: 40px; border-radius: 20px;">
    Recordatorio: <br>

    Revisar solicitudes pendientes de reagendización de clases y de cancelación de clases.
  </div>
     </div>
   </div>
  </div>
</div>

</div>
