<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right:0;">
      <div class="bannerVerde">
      </div>
      <div class="miCuenta">
        Mis Cursos
      </div>
      <div class="row"
        style="background-color: #ffffff;  padding-bottom: 40px; padding-right: 40px; margin: auto;
         letter-spacing: 1.5pt;
  font-weight: 700;
  height: auto;
  font-size: 130%;
  line-height:25px;
  padding-left: 40px;  ">




              <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col" style="font-weight: 700;">Plan</th>
                      <th scope="col" style="font-weight: 700;">Fecha Matrícula</th>
                      <th scope="col" style="font-weight: 700;">Profesor</th>
                      <th scope="col" style="font-weight: 700;">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="txt-solicitudes" >PLAN RE-ENTRENAMIENTO</th>
                      <td class="txt-solicitudes"> 29/04/2022</td>
                      <td  class="txt-solicitudes"> Luis Gajardo</td>
                      <td  class="txt-solicitudes"> En Curso</td>

                    </tr>
                    <tr>
                      <th scope="row" class="txt-solicitudes" > PLAN ESTÁNDAR</th>
                      <td class="txt-solicitudes"> 15/12/2015</td>
                      <td  class="txt-solicitudes">Sebastián González</td>
                      <td  class="txt-solicitudes"> Finalizado</td>
                    </tr>
                  </tbody>
                </table>

        </div>
      </div>
    </div>
  </div>
