<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Estudiantes">Estudiantes</div>
      <div class="row" style="
          background-color: #eff0ef;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          margin: auto;
        ">
        <div class="recordatorio" style="border-radius: 20px; margin-left: 18px;">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Horario</th>
                </tr>
              </thead>
              <tbody *ngFor="let estudiante of estudiantes">
                <tr>
                  <td scope="row">{{estudiante.nombre}}</td>
                  <td>{{estudiante.correo}}</td>
                  <td>{{estudiante.telefono}}</td>
                  <td><button class="verPerfil"> Ver Perfil </button> </td>
                  <td style="text-align: center;"> <i class="fa-solid fa-calendar-days fa-2x"></i> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button style="    color: white;
          border-radius: 5px;
          background-color: #176496;
          display: block;
          width: 100px;
          margin-left: auto;
          margin-right: auto;
          height: 40px;
          margin-top: 280px;">Guardar</button>

          <button style="    color: white;
border-radius: 5px;
background-color: #176496;
display: block;
width: 100px;
margin-left: auto;
margin-right: auto;
height: 40px;
margin-top: 280px;">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -============================-->
<!---------- Modal editar alumno ---------------->
<!---============================ -->
<div class="modal fade" id="editarEstudianteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateEstudianteForm">
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Nombre</span>
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Primer Apellido</span>
            <input type="text" class="form-control" formControlName="primerApellido" />
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Segundo Apellido</span>
            <input type="text" class="form-control" formControlName="segundoApellido" />
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Email</span>
            <input type="email" class="form-control" formControlName="email"/>
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Contraseña</span>
            <input type="password" class="form-control" formControlName="contrasena" />
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Teléfono</span>
            <input type="number" class="form-control" formControlName="telefono" />
          </div>
          <div class="input-group flex-nowrap my-2">
            <span class="input-group-text" id="addon-wrapping">✍Rut</span>
            <input type="text" class="form-control" formControlName="rut" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>