<div class="modal" [ngStyle]="{'display': modalAgendaService.oculto}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formAgenda" (ngSubmit)="saveData()" novalidate>
                <!-- Modal header -->
                <div class="modal-header">
                    <h2 class="modal-tittle">Horarios disponibles</h2>
                    <button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group row">
                        09:00-10:00 
                        <div class="col-4" style="color: green;">
                            DISPONIBLE
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                        
                        
                    </div>
                    
                        <br>
                      
                    <div class="form-group row">
                        10:00-11:00 
                        <div class="col-4" style="color: red;">
                            RESERVADO
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                        
                    </div>
         
                        <br>
                      
                    <div class="form-group row">
                        11:00-12:00 
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                      
                    </div>
              
                        <br>
                      
                    <div class="form-group row">
                        12:00-13:00 
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                        
                    </div>
                    <br>
                   
                    <div class="form-group row">
                        13:00-14:00 
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                        
                    </div>
                    <br>
                
                    <div class="form-group row">
                        14:00-15:00 
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                      
                    </div>
                    <br>
           
                    <div class="form-group row">
                        15:00-16:00
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div> 
                     
                    </div>
                    <br>
                  
                    <div class="form-group row">
                        16:00-17:00
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div>  
                        
                    </div>
                  
                    <br>
                    <div class="form-group row">
                        17:00-18:00
                        <div class="col-4">
                            
                        
                        </div> 
                        <div class="col-4">
                            <button id="bmodal">Reservar</button>
                        
                        </div>  
                        
                        
                    </div>
                    
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button (click)="ocultarModal()" type="button" class="btn btn-danger">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>