<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right:0;">
      <div class="bannerVerde">
      </div>
      <div class="miCuenta">
        Mi cuenta
      </div>
      <div class="row"
        style="background-color: #eff0ef; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; margin: auto;  ">
        <div class="col-4" style="margin-left: auto; margin-right: auto;">
          <img
            src="..\assets\icon.png"
            alt="" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;"> <br>
          <!-- <p style="text-align:center; font-size: 140%;"> Pablo San Martín</p> -->
        </div>
        <div class="col-8" style="padding: 0%;">
          <div class="botonesMicuenta" style="padding-bottom: 20px; padding-left: 3%;">
            <button class="btn botones">
              <a href="/perfil-alumno">Mis Datos</a>
            </button>
            <button class="btn botones">
              <a href="/agenda">Agenda</a>
            </button>
            <button class="btn botones">
              <a href="/mis-reservas">Mis Reservas</a>
            </button>
            <button class="btn botones">
              <a href="/mis-cursos">Mis cursos</a>
            </button>
          </div>

          <div class="recordatorio" style="padding: 40px; border-radius: 20px;">
            <!-- <h2 class="header-recordatorio" style="font-size: 130%;  font-weight: 700; letter-spacing: 1.5pt;">
              Recordatorio </h2>

            Próximas clases: <br> <br>
            Lunes 17, 15:30 Horas. <br>
            Miércoles 20, 12:40 horas. -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
