<div class="modal" [ngStyle]="{'display': modalEditarPersonaService.oculto}" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formEditarPersona" (ngSubmit)="saveData()" novalidate>
                <!-- Modal header -->
                <div class="modal-header">
                    <h2 class="modal-tittle">Editar datos de persona</h2>
                    <button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Rut</label>
                        <div class="col-8">
                            <input type="text" formControlName="rut" class="form-control" [placeholder]="personaSelect?.rut">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Nombre</label>
                        <div class="col-8">
                            <input type="text" formControlName="nombres" class="form-control" [placeholder]="personaSelect?.nombres ? personaSelect?.nombres : 'Nombres'">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Primer apellido</label>
                        <div class="col-8">
                            <input type="text" formControlName="primerApellido" class="form-control" placeholder="Primer apellido">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Segundo apellido</label>
                        <div class="col-8">
                            <input type="text" formControlName="segundoApellido" class="form-control" placeholder="Segundo apellido">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Correo electrónico</label>
                        <div class="col-8">
                            <input type="text" formControlName="email" class="form-control" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Contraseña</label>
                        <div class="col-8">
                            <input type="text" formControlName="contrasena" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Teléfono</label>
                        <div class="col-8">
                            <input type="number" formControlName="telefono" class="form-control" placeholder="Teléfono">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Rol</label>
                        <div class="col-8">
                            <input type="number" formControlName="role" class="form-control" placeholder="Rol">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button (click)="ocultarModal()" type="button" class="btn btn-danger">Cerrar</button>
                </div>
            </form>
        </div>
    </div>

</div>