<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Instructores">Perfil Instructor</div>
      <div
        class="row"
        style="
          background-color: #d8d4d4;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          padding-left: 40px;
          margin: auto;
        "
      >
        <div class="title">Información Personal</div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Nombre:</td>
                <td class="middle"></td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Apellido:</td>
                <td class="middle"></td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Dirección de correo electrónico</td>
                <td class="middle"></td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Contraseña:</td>
                <td class="middle"></td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Sexo:</td>
                <td class="middle"></td>
                <td class="middle"></td>
              </tr>
              <tr>
                <td style="width: 350px; font-weight: 500; font-size:large;">Estudiantes:</td>
                <!-- <td class="middle" style="background-color:white;">Anon Estudiante</td>
                <td href="#" style="color: #176496; background-color:white; cursor: pointer">Editar</td>
              </tr>
              <tr>
                <td> </td>
                                <td class="middle" style="background-color:white;">Anon Estudiante</td>
                                <td href="#" style="color: #176496;background-color:white; cursor: pointer">Editar</td>
                              </tr>
              <tr>
                <td> </td>
                                <td class="middle" style="background-color:white;">Anon Estudiante</td>
                                <td href="#" style="color: #176496; background-color:white;cursor: pointer">Editar</td>
                              </tr>
              <tr>
                <td> </td>
                                <td class="middle" style="background-color:white;">Anon Estudiante</td>
                                <td href="#" style="color: #176496; background-color:white;cursor: pointer">Editar</td>
                              </tr>
              <tr>
<td> </td>
                <td class="middle" style="background-color:white;">Anon Estudiante</td>
                <td href="#" style="color: #176496; background-color:white; cursor: pointer" >Editar</td>
              </tr> -->
            </tbody>
          </table>
        </div>

        <div style="margin-top: 30px; padding-left: 250px">
          <button style=" color: white;
          border-radius: 5px;
          background-color: #176496;
          padding: 10px;
          margin-right: 120px;
          font-size: large;
          padding-left: 35px;
          padding-right: 35px;"
           (click)="abrirModal()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-editar-estudiante></app-modal-editar-estudiante>