.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .eye-button{
      background: transparent;
      border: none;
  }
  .click-text{
    text-decoration: none !important;
  }
  
  ::placeholder {
    color: rgba(0, 0, 0, 0.431) !important;
  }
  .color-card{
    background-color: #ffffff !important;
  }