<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    
    <div style="padding-left: 50px; padding-right: 50px; padding-top: 20px; margin-bottom: 70px;">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img
                 src="../../../assets/logo-1.png"
                    style="width: 213px; height: 44px;"
                />
            </a>
    
             <a class="navbar-brand" href="#" style="color: #4CCE49; font-size: 12; font-weight: bold;">
              INICIO
             </a>

             <a class="navbar-brand" href="#" style="color: #4CCE49; font-size: 12; font-weight: bold;">
                CURSO CLASE B
             </a>

              <a class="navbar-brand" href="#" style="color: #4CCE49; font-size: 12; font-weight: bold;">
              CONTACTO
               </a>

               <a class="navbar-brand" href="#" style="color: #176496; font-size: 12; font-weight: bold;">
               MI CUENTA
           </a>
    
        </nav>
    </div>
    <div class="contenido">
    <div class="image">
        <img src="../../../assets/didaktika-conductores-autoescuela-sesion-psicotecnico.jpg" alt="">
    </div>
    <div class="banner"  style="background-color: #4CCE49; width: 1500px; height: 100px;"> 
        <h1 style="
        width: 200px;
        height: 34px;
        margin-left: 20px;
        margin-top: 10px;
        
        font-family: 'Inter';
        font-style: normal;
       
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;"> MI PERFIL</h1>

    </div>
    <div class="contenido" style="background-color: #bbbcbd; width: 1500px; height: 600px;">
       <div style="text-align: center; ">
        <button>Mis Datos</button>
        <button>Agenda</button>
        <button>Mis Reservas</button>
        <button>Mis cursos</button>
       </div>
        <div style="background-color: #FFFFFF; width: 1000px; height: 300px; margin-left: 250px;">
            <h1 style="margin-left:20px;">Recordatorios:</h1>
        </div>
    </div>
   
</div>
</body>