<div class="fondo">
  <div class="big-container">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Instructores">Instructores</div>
      <div
        class="row"
        style="
          background-color: #eff0ef;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          margin: auto;
        "
      >
        <div class="recordatorio" style="border-radius: 20px; margin-left: 18px;">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Horario</th>
                </tr>
              </thead>
              <tbody *ngFor="let instructor of instructores">
                <tr>
                  <td scope="row">{{instructor.nombre}}</td>
                  <td>{{instructor.email}}</td>
                  <td>{{instructor.telefono}}</td>
                  <td><button class="verPerfil"> Ver Perfil </button> </td>
                  <td style="text-align: center;"> <i class="fa-solid fa-calendar-days fa-2x"></i> </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div style="margin-top: 30px ;">
          <button style= "   color: white;
          border-radius: 5px;
          background-color: #176496;
          padding: 10px;
          margin-right: 215px;
          font-size: x-large;
          margin-left: 40%; ">Agregar Instructores </button>
                  <button style="   color: white;
                  border-radius: 5px;
                  background-color: #176496;
                  padding: 10px;
                 margin-right: 40px; font-size: x-large;" > Guardar </button>
        </div>
      </div>
    </div>
  </div>
</div>
