td, th {
  text-align: center;
}
td {
  font-weight: 500;
}
.fondo{
  background: url(\src\assets\instructor-fondo.png) no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 937px;
}

.container {
  border-radius: 7px;
  border: solid 20px;
  border-color: rgba(255, 255, 255, .5);


}
.big-container {
  padding-top: 140px;

}

.bannerVerde {
height: 50px;
width: 100%;
 background-color: #10a331;
}
.Instructores {
  padding: 20px;
  text-align: left;
  line-height:50px;
  font-size: 200%;
  font-weight: 700;
  color: #ffffff;
  background-color: #0f962d;
}

.recordatorio {
  letter-spacing: 1.5pt;
  font-weight: 700;
  height: 400px;
  background-color: white;
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.3);
  font-size: 130%;
  line-height:25px;
}

.botones {
  border-color: #050505;
  border: 0px solid;
  border-radius: 20px;
  background-color: white;
  margin-right: 20px;
  box-shadow: 0.5px 2px 2px 1px rgba(0,0,0,0.3);
  height: 50px;
  width: 173px;
  font-size: 125%;
}

.boton-datos {
  font-size: x-large;
  background-color: #0f962d;
   color: white;
   border-radius: 25px;
   margin-right: 10px;
   margin-left: 10px;
   padding-left: 40px;
   padding-right: 40px;
}
.verPerfil {
  color: white;
  border-radius: 5px;
  background-color: #176496;
}
