<div class="fondo">
  <div class="big-container" style="padding-bottom: 50px;">
    <div class="container" style="padding-left: 0; padding-right: 0">
      <div class="bannerVerde"></div>
      <div class="Instructores">Instructores</div>
      <div class="row" style="
          background-color: #eff0ef;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 40px;
          margin: auto;
        ">
        <div *ngIf="instructoresCargados" class="recordatorio" style="border-radius: 20px; margin-left: 18px; height: fit-content;">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Horario</th>
                </tr>
              </thead>
              <tbody *ngFor="let instructor of instructores">
                <tr>
                  <td scope="row">{{instructor.nombres}}</td>
                  <td>{{instructor.email}}</td>
                  <td>{{instructor.telefono}}</td>
                  <td><button style="    color: white;
                    border-radius: 5px;
                    background-color: #176496;
                    display: block;
                    width: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 40px;
                  " (click)="abrirModal(instructor)">Editar</button> </td>
                  <td style="text-align: center;"> <i class="fa-solid fa-calendar-days fa-2x"></i> </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div style="margin-top: 30px ;">
          <button style= "   color: white;
          border-radius: 5px;
          background-color: #176496;
          padding: 10px;
          margin-right: 215px;
          font-size: x-large;
          margin-left: 40%; ">Agregar Instructor </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-editar-persona></app-modal-editar-persona>