<!-- <nav class="navbar navbar-expand-lg navbar-light nav-background nav-padding">
    <div class="container-fluid">
        <a href="#" [routerLink]="['home']" class="navbar-brand">
            <img src="assets/logo-1.png" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a href="#" [routerLink]="['home']"  class="nav-item nav-link active nav-font">INICIO</a>
                <a href="#" [routerLink]="['curso-claseB']" class="nav-item nav-link active nav-font">CURSO CLASE B</a>

                <a href="#" [routerLink]="['login']"class="nav-item nav-link active nav-font">MI CUENTA</a>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3" id="contenido">
    <div class="container-fluid">
        <a href="#" [routerLink]="['home']" class="navbar-brand">
            <div style="width: 241px; height: 50px; padding: 0; margin: 0;"></div>
            <!-- <img src="assets/logo-1-blanco.png" alt="CoolBrand"> -->
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mb-2 mb-lg-0" >
                <a  style="margin-left: 25px;" href="#" [routerLink]="['home']"  class="nav-item nav-link active nav-font">
                    <strong>INICIO</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['curso-claseB']" class="nav-item nav-link active nav-font">
                    <strong>CLASE B</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['contacto']" class="nav-item nav-link active nav-font">
                    <strong>CONTACTO</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['recepcion']"class="nav-item nav-link active nav-font">
                    <strong>PERFIL RECEPCIÓN</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['alumno']"class="nav-item nav-link active nav-font">
                    <strong>PERFIL ESTUDIANTE</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['instructor']"class="nav-item nav-link active nav-font">
                    <strong>PERFIL INSTRUCTOR</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['login']"class="nav-item nav-link active nav-font">
                    <strong>INICIAR SESIÓN</strong>
                </a>
                <a  style="margin-left: 25px;"href="#" [routerLink]="['login']"class="nav-item nav-link active nav-font">
                    <strong style="background-color: red; padding: 10px">CERRAR SESIÓN</strong>
                </a>
            </div>
        </div>
    </div>
</nav>