.nav-font {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(255,255,255,0.8) !important;
    margin-left: 100px;
}
.nav-font:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #176496 !important;
}

.nav-padding {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 16px;
}

.scroll{
    background-color: white;
}

.scroll > div > div > div > a > strong{
    color: #5DA23E;
}

.scroll > div > div > div > a > strong:hover{
    color: #176496 !important;
}

.scroll > div > a > div{
    background: url('/assets/logo-1.png');
}

.noScroll > div > a > div{
    background: url('/assets/logo-1-blanco.png');
}