<body>
  

    <div class="container">
    <div class="vh-100 gradient-custom">
      <div class="container  h-200">
        <div class="row d-flex justify-content-center align-items-center ">
    
          <div class="card">
    
            <div class="card-body p-5 text-center">
    
    
    
              <div class="card-body">
    
                <p-fullCalendar [events]="events" [options]="options"> </p-fullCalendar>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
    </div>
    
    </div>
    </body>